* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(180deg, #1b0b2e, #2a0f45);
    color: #ffffff;
}


header{
  background-color: #1A0B2E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100%;
  gap: 314px;
  color: white;

}

nav ul {
    display: flex;
    gap: 32px;

}
nav ul li{
    list-style-type: none;
    gap: ;
}
header span{
    color:purple ;
}
header button{
    background-color: purple;
    border-radius: 10000px;
    padding:10px;
    border: none;
}
main {
  background-image: url(assets/hero-bg.png);
  height: 760px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid rgb(73, 66, 66);
  position: relative ;
}
main .img1{
    position: absolute;
    top: 110px;
    left: 455px;
    
}
main .img2{
    position: absolute;
    top: 185px;
    left: 580px; 
}

/* start of grid css */
.why-choose {
    padding: 80px 40px;
    max-width: 1200px;
    margin: auto;
}

.why-choose h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: #2e1458;
    padding: 30px;
    border-radius: 16px;
}

.card img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
    color: #d6cdef;
}

.card.tall {
    grid-row: span 2;
}

.card.wide {
    grid-column: span 2;
}

.card.last {
    grid-column: span 1;
}

.card.one {
    grid-column: span 2;
}
.card.two {
    grid-column: span 2;
}
/* end of grid css */

.p-web{
    padding-top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.c-web{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;


}
 .c-web h1{
    font-size: 60px;
    color: white;
}

 .c-web p{
    color: white;
 }
  .btn-2{
  border: 2px solid #00FF88;
  border-radius: 10000px;
  padding: 10px 20px;
  background: transparent;
  color: #00FF88;
}

.btn-1{
  background-color: #FB09B4;
  border-radius: 10000px;
  padding: 10px 20px;
  border: none;
  color: white;
}
.section{
    display: flex;
    flex-direction: column;
}
.podcast{
  background-color: #1A0B2E;
  width: 100%;
  height: 646px; 
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.about{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid rgb(82, 78, 78);
  padding-bottom: 80px;
}

.info{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.podcast h2{
  font-size: 48px;
  font-weight: bold;
}
.podcast p{
  font-size: 14px;
  font-weight: 300px;
  color: rgb(190, 186, 186);
}
.k{
  display: flex;
  gap: 80px;
}
.k h2{
  font-size: 48px;
  font-weight: bold;
  color: #00FF88;
  padding-top: 80px;
}
.if{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color:black;
}
.s{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.jodi{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #1A0B2E;
}
.tumi{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.if h2{
    color: white;
}
.s h3 {
    color: white;
}

.s p{
    color: white;
}
.iss{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 230px;
    height: 350px;
    border-radius: 24px;
    background-color: #533C72;
    border-radius:30px;
}

.iss h3{
    padding-left: 10px;
    font-size: 20px;
}
.iss p{
    padding-left: 10px;
    font-size: 12px;
}

.iss h5{
    padding-left: 10px;
    color: #00FF88;
}
.iss iframe{
    border-top: 0px;
    border-radius: 24px;
}